<a href="https://colab.research.google.com/github/MJanbandhu/MJanbandhu/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import seaborn as sb

# Then

# How

In [4]:
# Create dataframe using nested list
list=[["Mary",40],["Steve",70],["John",70],["Joe",25]]
data=pd.DataFrame(list, columns=['Name','Age'],index=[101,102,103,104])

In [5]:
data

      Name  Age
101   Mary   40
102  Steve   70
103   John   70
104    Joe   25